<div class="app">
  <h1>4 Approaches to Adding Styles</h1>
  <h3>Airline Passengers - Single Class Binding</h3>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      <span class="status" [class.checked-in]="passenger.checkedIn"></span>
      {{ i }}: {{ passenger.fullname }}
    </li>
  </ul>
  <h3>Airline Passengers - Multiple Class Binding</h3>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      <span
        class="status"
        [ngClass]="{
          'checked-in': passenger.checkedIn,
          'checked-out': !passenger.checkedIn
        }"
      ></span>
      {{ i }}: {{ passenger.fullname }}
    </li>
  </ul>
  <h3>Airline Passengers - Style Binding</h3>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      <span
        class="status"
        [style.backgroundColor]="passenger.checkedIn ? '#2ecc71' : '#c0392b'"
      ></span>
      {{ i }}: {{ passenger.fullname }}
    </li>
  </ul>
  <h3>Airline Passengers - Style Binding with ngStyle</h3>
  <ul>
    <li *ngFor="let passenger of passengers; let i = index">
      <span
        class="status"
        [ngStyle]="{
          backgroundColor: passenger.checkedIn ? '#2ecc71' : '#c0392b'
        }"
      ></span>
      {{ i }}: {{ passenger.fullname }}
    </li>
  </ul>
</div>
