<form #form="ngForm" novalidate>
  {{ detail | json }}

  <div>
    Passenger name:
    <input type="text" name="fullname" [ngModel]="detail?.fullname" />
  </div>

  <div>
    Passenger ID:
    <input type="number" name="id" [ngModel]="detail?.id" />
  </div>

  <div>
    Checked in:
    <input
      type="checkbox"
      name="checkedIn"
      [ngModel]="detail?.checkedIn"
      (ngModelChange)="toggleCheckIn($event)"
    />
  </div>

  <div *ngIf="form.value.checkedIn">
    Check in date:
    <input type="number" name="checkInDate" [ngModel]="detail?.checkedInDate" />
  </div>

  <div>
    Luggage (value and selected binding):
    <select name="baggage" [ngModel]="detail?.baggage">
      <option
        *ngFor="let item of baggage"
        [value]="item.key"
        [selected]="item.key === detail?.baggage"
      >
        {{ item.value }}
      </option>
    </select>
  </div>

  <div>
    Luggage (ngValue binding):
    <select name="baggage" [ngModel]="detail?.baggage">
      <option *ngFor="let item of baggage" [ngValue]="item.key">
        {{ item.value }}
      </option>
    </select>
  </div>

  {{ form.value | json }}
</form>
